.searchContainer{
  background-color: antiquewhite;
  padding:20px;
  border-radius: 20px;
  /* position: absolute;
  bottom:20px;
  left:120px;
  width:80%; */
}


@media (max-width: 400px) and (min-width: 300px){
  /* .searchContainer{
    position: relative;
    bottom:0px;
    left:0px;
    width:100%;
  } */
}  